<template>
    <div class="block about-us">
        <img src="../assets/images/sphere.svg" class="about-us-sphere">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Про нас</h2>
                    <p class="about-us-text">Ми команда, що займається <span>реверс-інжинірингом</span> додатків для <span>PC/Mobile</span> платформ. Наші клієнти - розробники <span>ігор</span>, розробники ПЗ для <span>Gambling/Betting</span>, розробники <span>корпоративного</span> ПЗ.</p>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-right-side">
                        <img src="../assets/images/small-rob.svg" class="about-us-right-side-rob">
                        <img src="../assets/images/aboutus_people.svg" class="about-us-right-side-people">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AboutUs'
    }
</script>

<style lang="scss" scoped>
.about-us {
    position: relative;
    h2 {
        @media (max-width: 450px) {
            font-size: 36px !important;
        }
    }
    &-sphere {
        position: absolute;
        bottom: -40%;
        left: -10%;
        @media (min-width: 1920px) {
            left: -2%;
        }
        @media (min-width: 1700px) {
            bottom: -45%;
            left: -5%;
            width: 500px;
        }
        @media (max-width: 1200px) {
            width: 350px;
        }
        @media (max-width: 991px) {
            top: 0;
        }
    }
    &-text {
        color: #868686;
        font-size: 18px;
        font-weight: 400;
        span {
            color: #fff;
        }
    }
    &-right-side {
        position: relative;
        &-rob {
            position: absolute;
            top: -50%;
            right: 0;
        }
        &-people {
            margin-top: 130px;
        }
    }
}
</style>