<template>
    <div class="block banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 banner__content text-center text-lg-left">
                    <h1 class="banner__title">
                        Ти гідний найкращого реверс-інжинірингу
                    </h1>
                    <p class="banner__text col-lg-10">Повний розбір програми по цеглинці і розкладання свого мозку за рівнем кошерності, дослідження і створення аналогічного програмного забезпечення.</p>
                    <button class="banner__button">Замовити захист данних</button>
                </div>
                <div class="banner__img">
                    <img src="@/assets/images/robots.svg" alt="banner-img">
                </div>
                <div class="col-12 d-flex justify-content-between align-items-start">
                    <div class="row">
                        <div
                            class="banner__ability col-md-6 col-lg-3"
                        >
                            <div class="banner__ability__img">
                                <img src="@/assets/images/rocket.svg">
                            </div>
                            <p class="banner__ability__text">Швидкий старт послуг у нашому сервісі</p>
                        </div>
                        <div
                            class="banner__ability col-md-6 col-lg-3"
                        >
                            <div class="banner__ability__img">
                                <img src="@/assets/images/like.svg">
                            </div>
                            <p class="banner__ability__text">Лише позитивні відгуки</p>
                        </div>
                        <div
                            class="banner__ability col-md-6 col-lg-3"
                        >
                            <div class="banner__ability__img">
                                <img src="@/assets/images/rating.svg">
                            </div>
                            <p class="banner__ability__text">Швидкий зворотний зв'язок</p>
                        </div>
                        <div
                            class="banner__ability col-md-6 col-lg-3"
                        >
                            <div class="banner__ability__img">
                                <img src="@/assets/images/fire.svg">
                            </div>
                            <p class="banner__ability__text">Зручне використання наших послуг</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__wave"></div>
        <div class="banner__wave"></div>
    </div>
</template>

<script>
    export default {
        name: 'BannerBlock',
        computed: {
            abilities() {
                return [
                    {
                        icon: '../assets/images/rocket.svg',
                        text: 'Швидкий старт послуг у нашому сервісі'
                    },
                    {
                        icon: '@/assets/images/robots.svg',
                        text: 'Швидкий старт послуг у нашому сервісі'
                    },
                    {
                        icon: 'rocket',
                        text: 'Швидкий старт послуг у нашому сервісі'
                    },
                    {
                        icon: 'rocket',
                        text: 'Швидкий старт послуг у нашому сервісі'
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
.block {
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    h2 {
        @media (max-width: 450px) {
            font-size: 36px !important;
        }
    }
}
.banner {
    &__content {
        position: relative;
        z-index: 10;
    }
    &__title {
        font-weight: 800;
        font-size: 56px;
        @media (max-width: 767.89px) {
            font-size: 42px;
        }
        @media (max-width: 500px) {
            font-size: 28px;
        }
    }
    &__text {
        padding-left: 0px;
        margin-top: 40px;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        color: #aeaeae;
        @media (max-width: 500px) {
            font-size: 16px;
            margin: 30px 0;
        }

    }
    &__img {
        position: absolute;
        z-index: 0;
        right: 0;
        top: 20px;
        @media(max-width: 991.98px) {
            opacity: 0.4;
        }
    }
    &__button {
        padding: 15px 40px;
        font-weight: 600;
        font-size: 20px;
        border-radius: 5px;
        background: #7822E7;
        text-decoration: none;
        border: none;
        color: #fff;
        transition: 500ms ease-in-out;
        margin-bottom: 150px;
        &:hover {
            background: #9A59ED;
        }
        @media (max-width: 500px) {
            font-size: 16px;
            padding: 15px 30px;
        }
    }
    &__ability {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        z-index: 12;
        &__text {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            @media (max-width: 991px) {
                font-size: 18px;
                margin-bottom: 40px;
            }
        }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100px;
            width: 100px;
            margin-bottom: 20px;
            img {
                z-index: 1;
                position: relative;
                height: 60px;
            }
            &::before {
                content: '';
                background: #7822E7;
                opacity: 0.2;
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 0;
                border-radius: 50%;
            }
        }
    }
    &__wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 320px;
        display: block;
        background: #270456;
        transform: scale(1, 1);
        z-index: 0;
        @media (max-width: 991px) {
            display: none;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            border-radius: 100%;
            width: 100%;
            height: 300px;
            background: #270456;
            left: -25%;
            top: -240px;
            clip-path: ellipse(51% 26% at 28% 84%);
            @media (max-width: 991px) {
                left: -100px !important;
            }
            @media (max-width: 1030px) {
                left: -130px;
            }
            @media (min-width: 1600px) {
                top: -246px;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 100%;
            width: 100%;
            height: 300px;
            background-color: #0C0011;
            right: -647px;
            top: -200px;
            @media (min-width: 1600px) {
                right: -817px; 
            }
            @media (min-width: 1920px) {
                right: -972px;
            }
        }
        &:last-child {
            background: #22A0E7;
            height: 280px;
            opacity: 0.2;
            z-index: 10;
            @media (max-width: 767px) {
                height: 495px !important;
            }
            @media (max-width: 991px) {
                display: block;
                height: 600px;
                opacity: 0.1;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                border-radius: 100%;
                width: 100%;
                height: 300px;
                background-color: #270456;
                left: -362px;
                top: -229px;
                z-index: 11;
                transform: rotate(-9deg);
                @media (max-width: 991px) {
                    display: none;
                }
                @media (max-width: 1030px) {
                    left: -400px;
                }
                @media(min-width: 1600px) {
                    width: 100%;
                    transform: rotate(-8deg);
                    left: -415px;
                }
                @media (min-width: 1920px) {
                    left: -580px;
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-radius: 100%;
                width: 100%;
                height: 300px;
                background: #22A0E7;
                right: -28%;
                top: -240px;
                -webkit-clip-path: ellipse(51% 26% at 28% 84%);
                clip-path: ellipse(51% 26% at 28% 87%);
                z-index: 10;
                transform: rotate(-8deg);
                @media (max-width: 991px) {
                    display: none;
                }
                @media (min-width: 1600px) {
                    transform: rotate(-6deg);
                }
                @media (min-width: 1920px) {
                    transform: rotate(-4deg);
                }
            }
        }
    }
}
</style>