<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a 
                        v-for="item, key in menu"
                        :key="key"
                        class="nav-item nav-link active" 
                        :href="item.url"
                    > 
                        {{item.title}}
                    </a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'HeaderMenu',
        data() {
            return {}
        },
        computed: {
            menu() {
                return [
                    {
                        title: 'Що ми вирішуємо',
                        url: '#'
                    },
                    {
                        title: 'Про нас',
                        url: '#'
                    },
                    {
                        title: 'Юрисдикція',
                        url: '#'
                    },
                    {
                        title: 'Інвесторам',
                        url: '#'
                    },
                    {
                        title: 'Почати?',
                        url: '#'
                    },
                ]
            
            }
        },
    }
</script>

<style lang="scss" scoped>
.navbar-nav {
    gap: 20px;
    a {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF !important;
        transition: 500ms ease-in-out;
        &:hover {
            color: #7822E7 !important;
            border-bottom: 1px solid #7822E7;
        }
    }
}
</style>