<template>
    <div class="block clients">
        <div class="container">
            <h2 class="client-title">Хто наші клієнти?</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="client-item">
                        <div class="client-item-image-wrapper">
                            <img src="../assets/images/dice.svg">
                        </div>
                        <p class="client-item-text">Розробники програмного забезпечення для <span>Gambling/Betting</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item">
                        <div class="client-item-image-wrapper">
                            <img src="../assets/images/video-game.svg">
                        </div>
                        <p class="client-item-text">Розробники <span>ігрової індустрії</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item">
                        <div class="client-item-image-wrapper">
                            <img src="../assets/images/group-meeting.svg">
                        </div>
                        <p class="client-item-text">Розробники <span>корпоративного</span> програмного забезпечення</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'OurClients',
        data() {
            return {}
        }
    }
</script>

<style lang="scss" scoped>
h2 {
    @media (max-width: 450px) {
        font-size: 36px !important;
    }
}

.clients {
    .client-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        &-image-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 130px;
            width: 130px;
            margin-bottom: 30px;
            img {
                z-index: 1;
                position: relative;
            }
            &::after {
                content: '';
                position: absolute;
                background: #22A0E7;
                opacity: 0.2;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                top: 0;
            }
        }
        &-text {
            font-weight: 600;
            font-size: 20px;
            color: #868686;
            text-align: center;
            span {
                color: #fff;
            }
        }
    }
}
</style>