<template>
    <div class="block team">
        <img src="../assets/images/bubble_bg.svg" class="team-bubble-left">
        <img src="../assets/images/bubble_bg2.svg" class="team-bubble-right">
        <div class="container">
            <div class="row position-relative">
                <img src="../assets/images/bg-star2.svg" class="team-star">
                <div class="col-12">
                    <h2>Наша команда</h2>
                </div>
                <div 
                    v-for="item in team"
                    :key="item.id"
                    class="col-md-6 col-lg-3 mb-5"
                >
                    <div class="team-item">
                        <div class="team-item-img">
                            <img :src="item.img">
                        </div>
                        <div class="team-item-text">
                            <h4>{{ item.name }}</h4>
                            <span>{{ item.profession }}</span>
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="team-item-links">
                            <a 
                                v-for="i, idx in item.social_links"
                                :key="idx"
                                :href="i.link"
                                target="_blank"
                            >
                                <i 
                                    :class="i.icon"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import firstman from '@/assets/images/firstman.jpg'
import secondwoman from '@/assets/images/secondwoman.jpg'
import thirdman from '@/assets/images/thirdman.jpg'

    export default {
        name: 'OurTeam',
        data() {
            return {
                team: [
                    {
                        id: '1',
                        name: 'Семен',
                        img: firstman,
                        profession: 'Chief Executive Officer GameDef ',
                        description: 'Учасник світової групи "FullSecure"',
                        social_links: [
                            {
                                icon: 'bi bi-instagram',
                                link: 'https://www.instagram.com/'
                            },
                            {
                                icon: 'bi bi-github',
                                link: 'https://github.com/'
                            }
                        ]
                    },
                    {
                        id: '2',
                        name: 'Анастасія',
                        img: secondwoman,
                        profession: 'Web Application Security Specialist',
                        description: 'Призер олімпіади - "Я чемпіон" d2a agency',
                        social_links: [
                            {
                                icon: 'bi bi-instagram',
                                link: 'https://www.instagram.com/'
                            },
                            {
                                icon: 'bi bi-github',
                                link: 'https://github.com/'
                            }
                        ]
                    },
                    {
                        id: '3',
                        name: 'Данило',
                        img: thirdman,
                        profession: 'Product designer',
                        description: 'Учасник конкурсу "Дизайнерська асоціація" від d2a digital',
                        social_links: [
                            {
                                icon: 'bi bi-instagram',
                                link: 'https://www.instagram.com/'
                            },
                            {
                                icon: 'bi bi-github',
                                link: 'https://github.com/'
                            }
                        ]
                    },
                    {
                        id: '4',
                        name: 'Семен',
                        img: firstman,
                        profession: 'Chief Executive Officer GameDef ',
                        description: 'Учасник світової групи "FullSecure"',
                        social_links: [
                            {
                                icon: 'bi bi-instagram',
                                link: 'https://www.instagram.com/'
                            },
                            {
                                icon: 'bi bi-github',
                                link: 'https://github.com/'
                            }
                        ]
                    },
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
h2 {
    @media (max-width: 450px) {
        font-size: 36px !important;
    }
}
.team {
    &-star {
        position: absolute;
        bottom: 20%;
        left: 20%;
        z-index: 0;
    }
    &-bubble-left {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &-bubble-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        &-img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 270px;
                height: 270px;
                border-radius: 50%;
                object-fit: cover;
                @media (max-width: 1240px) {
                    width: 230px;
                    height: 230px;
                }
                @media (max-width: 991px) {
                    width: 200px;
                    height: 200px;
                }
            }
        }
        &-text {
            h4 {
                color: #6F6773;
                margin: 30px 0;
                font-size: 20px;
                font-weight: 600;
            }
            span {
                font-size: 18px;
            }
            p {
                margin: 10px 0 20px;
                color: #868686;
            }
        }
        &-links {
            display: flex;
            gap: 20px;
            a {
                text-decoration: none;
                color: #fff;
                transition: 500ms ease-in-out;
                &:hover {
                    opacity: .5;
                }
                i {
                    font-size: 28px;
                }
            }
        }
    }
}
</style>