<template>
    <div class="what-is">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7">
                    <div class="what-is-left-content">
                        <h2 class="what-is-title">Чому компаніям потрібен реверс-інжинирінг</h2>
                        <p class="what-is-text">Недбале ставлення до інформаційної безпеки може призвести до дорогих наслідків.</p>
                        <p class="what-is-text">Далі представлено випадки збитків компаній через інциденти у сфері IT.</p>
                        <a href="#" class="what-is-button">Записатися на консультацію</a>
                        <img src="../assets/images/bg-star.svg" class="what-is-bg-star">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="what-is-right-item">
                        <img src="../assets/images/fire-money.svg">
                        <p class="what-is-right-text">Технічні неполадки в роботі азартної компанії "Tabcorp" обійшлися в $7 млн</p>
                    </div>
                    <div class="what-is-right-item">
                        <img src="../assets/images/fire-money2.svg">
                        <p class="what-is-right-text">Збиток від вдалої хакерської атаки "Енергобанку" склав ₽244 млн</p>
                    </div>
                    <div class="what-is-right-item">
                        <img src="../assets/images/fire-money3.svg">
                        <p class="what-is-right-text">Криптовалютний стартап "Tethe'r" втратив $30 млн завдяки проведеній хакерській атаці</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'WhatIs'
    }
</script>

<style lang="scss" scoped>
.what-is {
    h2 {
        @media (max-width: 450px) {
            font-size: 36px !important;
        }
    }
    margin: 80px 0;
    &-left-content {
        position: relative;
    }
    &-text {
        color: #868686;
        font-size: 18px;
        margin-bottom: 40px;
        width: 450px;
        z-index: 10;
        position: relative;
        @media (max-width: 991px) { 
            width: unset;
        }
    }
    &-bg-star {
        position: absolute;
        right: 0;
        bottom: 25%;
        z-index: 0;
    }
    &-button {
        display: inline-flex;
        padding: 15px 40px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: var(--purple, #7822E7);
        text-decoration: none;
        color: #fff;
        transition: 500ms ease-in-out;
        margin-top: 35px;
        &:hover {
            background: #9A59ED;
        }
        @media (max-width: 991px) {
            margin-bottom: 75px;
        }
    }
    &-right {
        &-item {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        &-item:not(:last-child) {
            margin-bottom: 40px;
        }
        &-text {
            margin: 0;
        }
    }
}
</style>