<template>
    <div class="block what-resolve">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../assets/images/robots_group.svg" class="what-resolve-robots">
                </div>
                <div class="col-lg-6">
                    <h2>Що ми вирішуєм?</h2>
                    <div class="what-resolve-text">
                        <img src="../assets/images/shield.svg" class="what-resolve-shield">
                        <p>Ми допомагаємо компаніям, що розробляють ПЗ, <span>уникнути вразливості</span> в коді на етапах pre-production, deploy.</p>
                    </div>
                    <div class="what-resolve-text">
                        <img src="../assets/images/shield.svg" class="what-resolve-shield">
                        <p>Акцентуємо увагу на захисті, для цього проводимо <span>реверс-інжиніринг</span> ваших mobile/desktop застосунків.</p>
                    </div>
                    <div class="what-resolve-text">
                        <img src="../assets/images/shield.svg" class="what-resolve-shield">
                        <p>Вам не варто переживати, що ваші дані підуть третім особам, адже ми <span>підписуємо NDA</span> перед початком робіт.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'WhatSolve'
    }
</script>

<style lang="scss" scoped>
    h2 {
        @media (max-width: 450px) {
            font-size: 36px !important;
        }
    }
    .what-resolve {
        &-robots {
            width: 100%;
        }
        &-text {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            p {
                color: #868686;
                margin: 0;
                span {
                    color: #fff;
                }
            }
            img {
                margin-top: 5px;
            }
        }
        &-text:not(:last-child) {
            margin-bottom: 20px;
        }
    }
</style>