<template>
  <div id="app">
    <HeaderMenu/>
    <Banner/>
    <Clients/>
    <AboutUs/>
    <WhatIs/>
    <WhatSolve/>
    <OurTeam/>
  </div>
</template>

<script>
import 'bootstrap-icons/font/bootstrap-icons.css';

import HeaderMenu from './components/HeaderMenu.vue';
import Banner from './components/Banner.vue';
import Clients from './components/OurClients.vue';
import AboutUs from './components/AboutUs.vue';
import WhatIs from './components/WhatIs.vue';
import WhatSolve from './components/WhatWeSolve.vue'
import OurTeam from './components/OurTeam.vue'


export default {
  name: 'App',
  components: {
    HeaderMenu,
    Banner,
    Clients,
    AboutUs,
    WhatIs,
    WhatSolve,
    OurTeam,
  }
}
</script>

<style>
@import './assets/styles/main.css';
@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./assets/font/Inter-VariableFont.ttf) format("truetype");
}
#app {
  font-family: 'Inter', sans-serif;
  background-color: #0C0011;
  color: #fff;
}
h2 {
  font-weight: 800 !important;
  font-size: 48px !important;
  margin-bottom: 70px !important;
}
.block {
  position: relative;
  padding: 85px 0;
}
body {
  background-color: #0C0011 !important;
}
</style>
